[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BuyseTest"]
	path = BuyseTest
	url = https://github.com/bozenne/buysetest
	shallow = true
	registered = true
[submodule "lavaSearch2"]
	path = lavaSearch2
	url = https://github.com/bozenne/lavasearch2
	shallow = true
	registered = true
