[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BuyseTest"]
	path = BuyseTest
	url = https://github.com/bozenne/buysetest
[submodule "LMMstar"]
	path = LMMstar
	url = https://github.com/bozenne/lmmstar
[submodule "lavaSearch2"]
	path = lavaSearch2
	url = https://github.com/bozenne/lavasearch2
